@import "~bootstrap/scss/bootstrap";

.container {
    max-width: 1000px;
    margin-inline: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .logo {
    display: flex;
  }
  
  .choose ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    li {
      &:hover {
        cursor: pointer;
        color: $main-color;
      }
    }
  }
