@import "~bootstrap/scss/bootstrap";

body {
    font-family: sans-serif;
    font-weight: 700;
  }
  
  ul {
    list-style: none;
  }

.container {
    max-width: 1300px;
    margin-inline: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .logo {
    display: flex;
  }
  
  .choose ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    li {
      &:hover {
        cursor: pointer;
        color: #0282f9;
      }
    }
  }
